{% extends "network/layout.html" %}
{% load static%}

{% block body %}

<script type="text/babel" src="{% static 'network/new-post.js' %}"></script>

<script type="text/babel" src="{% static 'network/show-post.js' %}"></script>

<script type="text/babel">
    
    function App() {
        const [page, setPage] = React.useState({
            'filter': 'all',
            'page': 1
        
        });


        function changeFilter(event) {
            setPage ({
                'filter': event.currentTarget.dataset.filter,
                'page': event.currentTarget.dataset.page
            })
        }
        function NavItem(props) {
            return (
                <li className="nav-item">
                    <a className="nav-link" data-filter={props.filter}
                     onClick={changeFilter} data-page="1" 
                     id={props.filter === 'all'|| props.filter === 'following' ? props.filter:'username'}>
                        <span className={page.filter === props.filter? 'active': 'inactive'}>{props.display}</span>
                    </a>
                </li>
            )
        }
        {% if user.is_authenticated %}
        let username = `{{user.username}}`;
        {% endif %}

        return (
            <>
            <nav className="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
                <NewPostBtn />
            
                <div>
                  <ul className="navbar-nav mr-auto ml-auto">
                    {% if user.is_authenticated %}
                        <NavItem filter={username} display={username} />
                    {% endif %}

                    <NavItem filter='all' display='All Posts'/>
                    {% if user.is_authenticated %}
                        <NavItem filter='following' display='Following'/>
                        <li className="nav-item">
                            <a className="nav-link" href="{% url 'logout' %}"><span>Log Out</span></a>
                        </li>
                    {% else %}
                        <li className="nav-item">
                            <a className="nav-link" href="{% url 'login' %}"><span>Log In</span></a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="{% url 'register' %}"><span>Register</span></a>
                        </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
              <LoadPost filter={page.filter} page={page.page} changePage={setPage}/>
              </>
        )
    }

    const AppDiv = ReactDOM.createRoot(document.querySelector('#App'));
    AppDiv.render(<App />);

</script>
{% endblock %}