{% extends "network/layout.html" %}
{% load static%}

{% block body %}

    <div id="profile-div" class="container my-3">
    </div>



<script type="text/babel">
    
    function App() {
        const [username, setUsername] = React.useState({
            {%if user.is_authenticated%}
            name: '{{user.username}}',
            {%else%}
            name: 'stranger',
            {%endif%}
            filter: 'all'
        
        });


        function changeFilter(event) {
            setUsername ({
                ...username,
                filter: event.target.dataset.filter
            })
        }

        return (
            <>
            <nav className="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
                <a className="navbar-brand" href="#" id="brand">Network</a>
              
                <div>
                  <ul className="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li className="nav-item">
                            <a className="nav-link" data-filter="{{user.username}}" onClick={changeFilter} id="username">{{ user.username }}</a>
                        </li>
                    {% endif %}
                    <li className="nav-item">
                      <a className="nav-link" data-filter="all" onClick={changeFilter} id="all-post">All Posts</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li className="nav-item">
                            <a className="nav-link" data-filter="following" onClick={changeFilter} id="following">Following</a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li className="nav-item">
                            <a className="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
              <LoadPost filter={username.filter} />
              </>
        )
    }

    function PostList(props) {
        return (<>
            <h1>{props.filter}</h1>
            </>
        )
    }

    function ShowAlertBox(props) {
        let type = `alert alert-${props.type}`
        return(
            <div className={type} role="alert">
                {props.message}
              </div>
        )
    }

    function FetchPosts(props) {
        const [data, setData] = React.useState(null);
        const [status, setStatus] = React.useState(null);
        const [error, setError] = React.useState(null);
        let url = `posts/${props.url}`

        React.useEffect(() => {
            fetch(url)
            .then(response => {
                if (response.status === 200){
                    setStatus('ok')
                return response.json()
                }
                else {
                    setStatus('error')
                    return response.json().then(text => {
                        setError(text)
                    });
                }
                
            })
            .then(result => setData(result))
            .catch(error => {
                alert(error)
            });
        }, [url]); 
        
        if (status === 'ok') {
            if (data === 'None') {
                return (<div className="m-3">
                    <div className="alert alert-info" role="alert">
                        <h4 className="alert-heading">Nothing to see here</h4>
                        <p>You are not following anybody right now.</p>
                        <hr></hr>
                        <p className="mb-0">How about checking out all posts and follow someone that catch your eye.</p>
                      </div>
                    </div>
                )
            } else {
                return (
                    <>
                    {
                        data && data.map((item) => {
                            return <div key={item.id}>
                            <div className="card text-bg-dark mb-3">
                                <div className="card-header">{item.poster}</div>
                                <div className="card-body">
                                  <p className="card-text">{item.content}</p>
                                  <footer className="blockquote-footer text-info"><small>{item.timestamp}</small></footer>
                                </div>
                              </div>
                            </div>
                        })
                    }
                    </>
                )
            }

        } else {
            console.log(error);
            return (   
                <>
                <ShowAlertBox type={error && error.type} message={error && error.message}/>
            </>

            )
        }

        
    }


    function CaseDefault() {
        console.log('default')
        return (
            <p>THIS IS RENDERED WHEN DEFAULT</p>
        )
    }

    function CaseFollowing() {
        return (
            <div className="container">
            <p>THIS IS RENDERED WHEN FOLLOWING</p>
            </div>
        )
    }

    function CaseUser(props) {
        return (<>
            <p>THIS IS RENDERED WHEN USER IS CLICKED</p>
            </>
        )
    }

    function LoadPost(props) {
        const Filter = React.useCallback(() => {
            switch(true) {
                case props.filter === 'all':
                    return <>
                    <PostList filter={props.filter.toUpperCase()} />
                    <FetchPosts url={props.filter}/>
                    </>
                case props.filter === 'following':
                    return <>
                    <PostList filter={props.filter.toUpperCase()} />
                    <FetchPosts url={props.filter} />
                    </>
                default:
                    return <>
                    <PostList filter={props.filter} />
                    <FetchPosts url={props.filter} />
                    </>
            }
        });

        return (
            <div className="container">
            {Filter()}
            </div>
        )
    }

    const AppDiv = ReactDOM.createRoot(document.querySelector('#App'));
    AppDiv.render(<App />);

</script>
{% endblock %}