%buttons {
  border: none;
  border-radius: 25px;
  height: 2em;
  width: 10em;
  position: relative;
  z-index: 1;
  margin: 3px;
  transition: 0.4s;
  background-color: whitesmoke;
  color: black;
  outline: none;
}

%buttons-reverse {
border: none;
  border-radius: 25px;
  height: 1.8em;
  width: 5em;
  position: relative;
  z-index: 1;
  margin: 1px;
  transition: 0.4s;
  background-color: black;
  color: whitesmoke;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}

%big-font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    font-weight: bold;
}

*:focus {
    outline: none;
}

%buttons-hover {
background-color: black;
color: whitesmoke;
letter-spacing: 2px;
}

%center {
    justify-content: center;
    align-items: center;
}

#username span{
    border-bottom: 2px solid blue;
}

#new-post-btn {
    @extend %buttons;
    @extend %center;
    
}
#new-post-btn:hover, .submit-btn:hover{
    @extend %buttons-hover
}

.nav-link span {
    color: black;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    &.active {
        color: blue;
    }
    
}

.nav-link span:hover {
    color:blue;
    letter-spacing: 2px;
}

.brand {
    border-radius: 25px;
    position: relative;
    display: flex;
    @extend %center;
    overflow: hidden;
}

.brand::before {
    content: '';
    display: block;
    height: 50%;
    width: 110%;
    background-color: blue;
    position: absolute;
    z-index: 0;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.title{
    @extend %center;
    display: flex;
    span{
    @extend %big-font;
    word-wrap: break-word;
    }
}

body {
    background-color: black;
    min-height: 100vh;
    color: whitesmoke;
}

.submit-btn {
    @extend %buttons;
    @extend %center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card {
    color:black;
}

select , .page-item > button, select > option {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1em;
    font-weight: bold;
    height:2.5em;
}

select {
    padding-left: 0.8em;
    padding-right: 0.5em;
    border-radius: 4px;
}

#new-post-div {
    @extend %center;
    height: 100vh;
    position:fixed;
    top:0;
    z-index: 3;
    transition: width 0.5s linear;
    width: 100vw;
    padding-top: 5em;
    display: none;
    #new-post-container {
        background-color: black;
        border-left: 2px solid blue;
        
    }

    &.show {
        animation : slideRight 0.5s forwards;
        display: block;
    }
    &.hide {
        animation: slideLeft 0.4s forwards;
        display: block;
    }
}

@keyframes slideLeft {
    from {
        left: 0;
    }
    to {
        left: -100vw;
    }
    
}
@keyframes slideRight {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
    
}

.fa-arrow-left {
    color: whitesmoke;
}

#new-post-back-btn {
    cursor: pointer;
}

#post-alert{
    animation : slidein 2s forwards;
    transition: all ease-in-out;
}

@keyframes slidein {
    0% {
        transform: scaleY(0);
    }
    5% {
        transform: scaleY(1);
    }
    90%{
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.edit-btn {
    @extend %buttons-reverse
}